  /* global.less */

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk/HankenGrotesk-Regular.woff2")
    format("woff2");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond/EBGaramond-Regular.woff2")
    format("woff2");

  font-weight: 400;
  font-style: normal;
}
  
  body {
    font-family: Hanken Grotesk, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 1.7;
    background-color: #f9f9f9;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: EB Garamond, serif;
    color: #232323;
    letter-spacing: -0.02em;
    line-height: 1;
}
.btn.btn-primary  {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #000;
    background: #fff;
    padding: 16px 32px !important;
    border-radius: 0px;
    z-index: 1;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
    border: 1px solid #fff;
}
.btn.btn-primary:hover {
    color: #000;
    background: #d9c5b2;
    transition: all 0.4s ease-in-out 0s;
    border-color:#d9c5b2;
}
.btn-outline {
    font-style: italic;
        border-bottom: 1px solid rgb(255 255 255 / 0.3);
    font-family: EB Garamond, serif;
    text-transform: none;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    padding: 0 !important;
    background: transparent;
    color: #fff;
    border-radius: 0;
  transition: all 0.4s ease-in-out 0s;
}
.btn-outline:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  transition: all 0.4s ease-in-out 0s;
}
section {
    padding: 160px 0;
    overflow: hidden;
    position: relative;
}
    .w-xxl-80 {
        width: 80%;
    }
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.text-white {
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}
    .w-xl-50 {
        width: 50%;
    }
.text-secondary {
      color: #ECBA23 !important;
      &::before {
          background-color: #ECBA23 !important;  
      }
}
.ps-xl-8, .px-xl-8 {
        padding-left: 4.5rem;
}
img {
  max-width: 100%;
    height: auto;
    vertical-align: top;
}
.heading-title {
            font-size: 48px;
        line-height: 56px;
        font-weight: 400;
        font-style: italic;
    margin-bottom: 32px;
}
.des {
        color: #444748;
    font-size: 18px;
    line-height: 1.625;
    font-weight: 400;
}
.btn-secondary {
color: #000;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
    transition: 0.3s;
    background: transparent;
    border: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
.btn-secondary:hover {
    color: #0009;
    background: transparent;
    transition: 0.3s;
}
.heading-text {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    color: #232323;
    letter-spacing: -0.02em;
    margin-bottom: 80px;
    text-align: center;
}
.justify-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.sub-title {
  color: rgb(255 255 255 / 0.8);
  font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}
.product-image {
    position: relative;
    overflow: hidden;
    aspect-ratio: 4 / 5;
    margin-bottom: 24px;
}


